In [ ]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('..\\data\\regression\\AMES_Final_DF.csv')

In [3]:
X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

In [17]:
def train_test_split(X, y, test_size=0.3, shuffle=True):
    length = len(X)
    length_test_size = length*test_size
    X_test = X.loc[length - length_test_size-1:]
    X_train = X.loc[:length - length_test_size]
    return X_test

In [18]:
train_test_split(X, y)

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
2047,75.000000,11235,5,5,1964,1980,30.0,785.0,0.0,635.0,...,0,0,0,0,1,0,0,0,1,0
2048,62.000000,14299,4,3,1964,1964,0.0,513.0,144.0,348.0,...,0,0,0,0,1,0,0,0,1,0
2049,61.000000,7943,4,5,1961,1961,192.0,903.0,0.0,126.0,...,0,0,0,0,1,0,0,0,1,0
2050,65.000000,14149,5,8,1964,2001,50.0,68.0,722.0,190.0,...,0,0,0,0,1,0,0,0,1,0
2051,74.551020,11677,5,4,1966,1966,442.0,249.0,761.0,30.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,37.000000,7937,6,6,1984,1984,0.0,819.0,0.0,184.0,...,0,0,0,0,1,0,0,0,1,0
2921,75.144444,8885,5,5,1983,1983,0.0,301.0,324.0,239.0,...,0,0,0,0,1,0,0,0,1,0
2922,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,575.0,...,0,0,0,0,1,0,0,0,1,0
2923,77.000000,10010,5,5,1974,1975,0.0,1071.0,123.0,195.0,...,0,0,0,0,1,0,0,0,1,0
2924,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,238.0,...,0,0,0,0,1,0,0,0,1,0

In [9]:
from sklearn.model_selection import train_test_split

In [12]:
_, X_test, _, _ = train_test_split(X, y, test_size=0.3, shuffle=False)
X_test

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
2047,75.000000,11235,5,5,1964,1980,30.0,785.0,0.0,635.0,...,0,0,0,0,1,0,0,0,1,0
2048,62.000000,14299,4,3,1964,1964,0.0,513.0,144.0,348.0,...,0,0,0,0,1,0,0,0,1,0
2049,61.000000,7943,4,5,1961,1961,192.0,903.0,0.0,126.0,...,0,0,0,0,1,0,0,0,1,0
2050,65.000000,14149,5,8,1964,2001,50.0,68.0,722.0,190.0,...,0,0,0,0,1,0,0,0,1,0
2051,74.551020,11677,5,4,1966,1966,442.0,249.0,761.0,30.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,37.000000,7937,6,6,1984,1984,0.0,819.0,0.0,184.0,...,0,0,0,0,1,0,0,0,1,0
2921,75.144444,8885,5,5,1983,1983,0.0,301.0,324.0,239.0,...,0,0,0,0,1,0,0,0,1,0
2922,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,575.0,...,0,0,0,0,1,0,0,0,1,0
2923,77.000000,10010,5,5,1974,1975,0.0,1071.0,123.0,195.0,...,0,0,0,0,1,0,0,0,1,0
2924,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,238.0,...,0,0,0,0,1,0,0,0,1,0