In [89]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('..\\data\\regression\\AMES_Final_DF.csv')
df.describe()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
count,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,...,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000,2925.000000
mean,69.683099,10109.861538,6.091624,5.563761,1971.323761,1984.229060,100.318632,438.974359,49.790427,558.959316,...,0.002735,0.080684,0.002393,0.000342,0.866325,0.004103,0.007863,0.015726,0.824615,0.082735
std,21.344161,7785.509739,1.406386,1.112262,30.228826,20.857822,176.667803,439.426274,169.274143,439.729905,...,0.052235,0.272395,0.048870,0.018490,0.340361,0.063931,0.088341,0.124437,0.380361,0.275528
min,0.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,60.000000,7438.000000,5.000000,5.000000,1954.000000,1965.000000,0.000000,0.000000,0.000000,218.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,70.000000,9430.000000,6.000000,5.000000,1973.000000,1993.000000,0.000000,370.000000,0.000000,465.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,80.000000,11526.000000,7.000000,6.000000,2000.000000,2004.000000,162.000000,734.000000,0.000000,801.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,2288.000000,1526.000000,2336.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [91]:
X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

In [ ]:
def scr_train_test_split(X, y, test_size=0.3, shuffle=True):
    length = len(X)
    length_test_size = length*test_size
    X_test = X.loc[length - length_test_size-1:]
    X_train = X.loc[:length - length_test_size-1]
    y_test = y.loc[length - length_test_size-1:]
    y_train = y.loc[:length - length_test_size-1]
    return X_train, X_test, y_train, y_test

In [ ]:
X_train_1, X_test_1, y_train_1, y_test_1 = scr_train_test_split(X, y)

In [ ]:
pd.DataFrame(X_train_1.std()).T

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,21.118596,7422.172973,1.40736,1.144206,30.612224,20.846266,178.030069,444.378402,160.040949,437.381253,...,0.058392,0.243057,0.044173,0.0,0.326385,0.049374,0.095918,0.122156,0.359514,0.247399

In [168]:
class ScratchStandartScaler:
    def __init__(self):
        self.__mean = None
        self.__std = None
        self.__var = None
        self.__n_samples = None
    
    def fit(self, X):
        self.__mean = X.mean()
        self.__std = X.std(ddof=0)
        self.__std[self.__std == 0] = 1
        self.__var = X.var(ddof=0)
        self.__n_samples = len(X)
        
    def transform(self, X):
        z = (X - self.__mean) / self.__std
        return z.to_numpy()
    
    def fit_transform(self, X):
        self.fit(X)
        return self.transform(X)
    
    @property
    def mean_(self):
        return self.__mean.to_numpy()
    
    @property
    def std_(self):
        return self.__std.to_numpy()
    
    @property
    def var_(self):
        return self.__var.to_numpy()
    
    @property
    def n_samples_(self):
        return self.__n_samples.to_numpy()

In [175]:
scaler = ScratchStandartScaler()
X_train_scaled_1 = scaler.fit_transform(X_train_1)
X_test_scaled_1 = scaler.transform(X_test_1)